@import "/src/styles/extend";

.testimonial {
    --balloon-max-height: 280px;
    --balloon-padding: 1.5rem;
    @include media-breakpoint-down(md) {
        --balloon-padding: 1rem;
    }

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 100%;

    .testimonial-balloon {
        display: flex;
        justify-content: center;
        flex: 1 1 auto;
        align-items: center;
        position: relative;

        min-height: var(--balloon-max-height);
        padding: var(--balloon-padding);
        margin-bottom: 1.5rem;

        background-color: var(--theme-soft-2);
        border-radius: $standard-border-radius;
        
        .text-2 {
            width: 100%;
            word-wrap: break-word;
            overflow-wrap: break-word;
            hyphens: auto;
        }

        .triangle {
            position: absolute;
            bottom: -10px;
            width: 0;
            height: 0;

            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid var(--theme-soft-2);
        }

        .fa-icon {
            color: var(--theme-highlight);
        }
    }

    /* ensure avatar + info stays below balloon and does not affect balloon height */
    .testimonial-info {
        flex-shrink: 0;
        padding-bottom: 0.5rem;
    }

    .testimonial-info {
        .name {
            font-family: $custom-subheadings-font-family;
        }
    }
}